body {
    background-color: c1c1c1;
    background-size:45% 16%;
    margin:auto;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-image:url("");
    background-position: center;
}

.container{
    background-color: #f1f1f1;
    padding: 80px;
}

.menu {
font-family:tahoma;
font-weight:bold;
height: 100px;
width: 100%;
background: lightskyblue;
border-radius:0px;
font-size:18px;
position: relative;
}

.menu ul {
margin: 10px;
padding: 0px;
background: none;
display:block;
float:right;
}

.menu ul li{
    list-style:none;
    display:inline-block;
}

.menu ul li a {
    display:block;
    text-decoration:none;
    padding: 10px;
    color: #000;
}

.menu ul li a:hover {
    display:block;
    color:white;
    background: #222;
    box-shadow: inset 0px 0px 5px #000;
    border-radius: 15px;
}

select[type=option_kc]{
    width: 40%;
    padding: 5px;
    margin-left: 100px;
    margin-bottom: 3px;
    margin-top: 3px;
    border: 3px solid #d4d4d4;
    border-radius: 4px;
    color: black;
    font-size: 16px;
}

select[type=option_jeniscetak]{
    width: 40%;
    padding: 5px;
    margin-left: 125px;
    margin-bottom: 3px;
    margin-top: 3px;
    border: 3px solid #d4d4d4;
    border-radius: 4px;
    color: black;
    font-size: 16px;
}

input[type=text_kabupaten]{
    width: 40%;
    padding: 5px;
    margin-left: 80px;
    margin-bottom: 3px;
    margin-top: 3px;
    border: 3px solid #d4d4d4;
    border-radius: 4px;
    color: black;
    font-size: 16px;
}

input[type=text_nomorkartu]{
    width: 40%;
    padding: 5px;
    margin-left: 115px;
    margin-bottom: 3px;
    margin-top: 3px;
    border: 3px solid #d4d4d4;
    border-radius: 4px;
    color: black;
    font-size: 16px;
}

input[type=text_namapeserta]{
    width: 40%;
    padding: 5px;
    margin-left: 105px;
    margin-bottom: 3px;
    margin-top: 3px;
    border: 3px solid #d4d4d4;
    border-radius: 4px;
    color: black;
    font-size: 16px;
}

input[type=text_jumlahcetak]{
    width: 40%;
    padding: 5px;
    margin-left: 105px;
    margin-bottom: 3px;
    margin-top: 3px;
    border: 3px solid #d4d4d4;
    border-radius: 4px;
    color: black;
    font-size: 16px;
}

input[type=text_penerima]{
    width: 40%;
    padding: 5px;
    margin-left: 138px;
    margin-bottom: 3px;
    margin-top: 3px;
    border: 3px solid #d4d4d4;
    border-radius: 4px;
    color: black;
    font-size: 16px;
}

input[type=text_hubungan]{
    width: 40%;
    padding: 5px;
    margin-left: 130px;
    margin-bottom: 3px;
    margin-top: 3px;
    border: 3px solid #d4d4d4;
    border-radius: 4px;
    color: black;
    font-size: 16px;
}

input[type=date]{
width: 40%;
padding: 5px;
margin-left: 105px;
margin-bottom: 3px;
margin-top: 3px;
border: 3px solid #d4d4d4;
border-radius: 4px;
color: black;
font-size: 16px;
}

label{
color: black;
font-size: 17px;
font-weight: bold;
margin-left: px;
}


input[type=submit] {
  background-color: #04AA6D;
  font-size: 20px;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 400px;
}

input[type=submit]:hover {
  background-color: #45a049;
}